/*global settings*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    /*font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;*/
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #555;
}
h2 {
  font-size: 22px;
}
a {
  text-decoration: none;
}

/*header section*/
header {
  display: flex;
  justify-content: space-between;
  height: 64px;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 24px;
}

#colmar {
  font-weight: 600;
  font-size: 18px;
}

#academy {
  color: #777;
  font-weight: 300;
}

.logo div {
  padding-top: 2px;
  text-transform: uppercase;
}

nav.mobile-nav {
  display: none;
}

nav.menu {
  display: flex;
  justify-content: center;
  margin-right: 24px;
  margin-top: 18px;
}

nav li {
  list-style: none;
  margin-left: 16px;
}

nav li a,
.mobile-nav a
 {
  font-size: 14px;
  text-decoration: none;
  color: #000;
  /*transition: color .25s;*/
}

nav li a:hover,
.mobile-nav a:hover {
 opacity: 0.5;
 /*color: deepskyblue;*/
 animation: 0.5s navblink 0.25s forwards
}

@keyframes navblink {
 100% {
   opacity: 1;
 }
}

@media only screen and (max-width: 768px) {
  header .logo,
  nav.menu {
    display: none;
  }

  header {
    justify-content: center;
  }

  nav.mobile-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  nav.mobile-nav img {
    margin-top: 10px;
    width: 35px;
    height: auto;
  }
}

/*banner section*/

.banner {
  display: flex;
  justify-content: space-around;
  background-color: #c1c1c1;
}

.banner .banner-img {
  width: 60%;
  margin: 32px 24px;
}

.banner-img img {
  width: 100%;
  height: auto;
}

.banner .banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 40%;
  padding: 0 24px;
}

.banner .banner-text h1 {
  font-size: 26px;
  opacity: 0;
  animation: 1s fromtop 0.25s forwards;
}

.banner .banner-text p,
.banner-text a {
  margin-top: 35px;
  opacity: 0;
  animation: 1s frombottom 0.5s forwards;
}

@keyframes fromtop {
  100% {
    opacity: 1;
  }
}

@keyframes frombottom {
  100% {
    opacity: 1;
    margin-top: 24px;
  }
}

.banner-text a {
  cursor: pointer;
  font-size: 17px;
  padding: 8px 0px;
  border-radius: 3px;
  color: white;
  text-decoration: none;
  text-align: center;
  background-color: #888;
  width: 80%;
  transition: color .25s;
}

.banner-text a:hover {
  color: deepskyblue;
}

@media only screen and (max-width: 768px) {
  .banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #c1c1c1;
  }

  .banner .banner-img {
    width: 100%;
    margin: 0;
  }

  .banner .banner-text {
    width: 100%;
    padding: 32px 16px;
  }

  .banner-text a {
    width: 100%;

  }
} /* end media query */

/*main section*/
.main {
  display: flex;
  justify-content: space-between;
}

.main .main-section-img {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 32px 24px;
}

.main .main-section-img img {
  width: 100%;
  height: auto;
}

.main-section-img .practice-heading {
  margin-top: 32px;
}

.main-section-img .practice-text {
  margin-top: 24px;
  font-size: 11px;
}

.main-section-img .quote {
  margin-top: 32px;
  font-size: 10px;
}

.main .main-section-articles {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;
    margin-top: 32px;
}

.main-section-article {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-section-article-text {
  padding-right: 16px;
}

.main-section-article.campus,
.main-section-article.guest {
  padding: 16px 0;
}

.main-section-article.guest {
  background-color: #c1c1c1;
}

.main-section-article div{
  display: flex;
  flex-direction: column;
  width: 65%;
}

.content-text {
  font-size: 11PX;
  margin-top: 8px;
}

.main-section-article h3 {
  font-size: 16px;
}

.main-section-article .img {
  width: 35%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
  margin: 0 16px;
}

.main-section-article .img.orientation-img {
  background-image: url("../images/information-orientation.jpg");
}

.main-section-article .img.campus-img {
  background-image: url("../images/information-campus.jpg");
}

.main-section-article .img.guest-img {
  background-image: url("../images/information-guest-lecture.jpg");
}

.main-section-article .guest {
  background-color: #c1c1c1;
}

@media only screen and (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .main .main-section-img {
    display: none;
  }

  .main .main-section-articles {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 16px;
      padding: 0;
  }

  .main-section-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .main-section-article .img {
    width: 100%;
    height: 40vh;
    width: 90vw;
    /*background-clip: padding-box;*/
  }

  .main-section-article .img.orientation-img {
    background-image: url("../images/information-orientation-mobile.jpg");
  }
  .main-section-article .img.campus-img {
    background-image: url("../images/information-campus-mobile.jpg");
  }
  .main-section-article .img.guest-img {
    background-image: url("../images/information-guest-lecture-mobile.jpg");
  }

  .main-section-article .main-section-article-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 16px 0px 0px 48px;
  }

  .main-section-article.campus,
  .main-section-article.orientation {
    margin-bottom: 64px;
    padding: 0px;
  }

  .main-section-article.guest {
    background-color: #fff;
    padding: 0px;
  }

}

/*learning */
.learning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c1c1c1;
}

.learning header {
  margin-top: 32px;
}

.learning .learning-articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  margin: 32px 72px;
}

.learning-articles .learning-section {
  flex: 1 250px;
  background-color: #fff;
  margin: 16px;
}

.learning-section div {
  padding: 16px 0 24px 16px;
}

.learning-section img {
  width: 100%;
  height: auto;
}

.learning-section .courses {
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 8px;
}

.learning-section .description {
  margin-top: 8px;
}

@media only screen and (max-width: 768px) {
  .learning {
    background-color: #fff;
  }

  .learning header {
    margin-bottom: 0;
  }

  .learning .learning-articles {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    width: 100%;
    background-color: #fff;
    margin-top: 16px;
    margin-bottom: 0;
  }

  .learning-articles .learning-section {
    align-self: stretch;
    width: 100%;
    flex: auto;
    background-color: #c1c1c1;
    margin: 0 0 16px 0;

  }

  .learning-section img,
  .learning-section p
  {
    display: none;
  }

  .learning-section h4 {
    transition: color 250ms;
  }

  .learning-section h4:hover {
    color: deepskyblue;
  }

}

/*thesis*/
.thesis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thesis header {
  margin-top: 32px;
}

.thesis-content {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.thesis-video {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 0 24px 24px 24px;
}

.thesis-video video {
  width: 100%;
}

 .thesis .reimagine-heading {
   margin-top: 24px;
 }

 .thesis .reimagine-text {
   margin-top: 8px;
   padding-bottom: 32px;
 }

.thesis-aside {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.thesis-aside .aside {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thesis-aside .aside.fisma {
  background-color: #c1c1c1;
}

.aside .thesis-aside-img {
  width: 35%;
  padding: 16px;
}

.aside .thesis-aside-img img {
  width: 100%;
  height: auto;
}

.aside .thesis-aside-text {
  width: 65%;
  padding-right: 16px;
}

@media only screen and (max-width: 768px) {
  .thesis-content {
    margin-top: 16px;
  }

  .thesis-video {
    width: 100%;
    padding: 0;
    margin-bottom: 24px;
  }

  .thesis .reimagine {
    display: none;
  }
  .thesis-aside {
    display: none;
    flex-direction: column;
    width: 40%;
  }
}

/*footer section*/
footer div{
  display: flex;
  justify-content: space-between;
  /*background-color: #c1c1c1;*/
  /*border-top: 1px solid #888;*/
  padding: 16px 24px;
}

@media only screen and (max-width: 768px) {
  footer .terms-privacy {
    display: none;
  }

  footer div {
    justify-content: center;
    padding: 16px 0;
  }
}
